# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
.env
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Datos sensibles
data/raw/
*.xlsx
*.xls
*.csv

# OS
.DS_Store
Thumbs.db
